<div class="header">

  <div class="logo">
    <img src="../assets/Angular-logo.png" alt="Angular-logo">
  </div>

  <div class="menu">
    <button mat-raised-button>Home</button>
    <button mat-raised-button>Shop</button>
    <button mat-raised-button>Login</button>
  </div>

  <div>
    <p class="menu-text">
      <b> We are community based help service! </b> <br>
      Long text does not wrap and overflows the parent. Lorem Ipsum is simply
      dummy text of the printing and typesetting industry. Lorem Ipsum has
      been the industry's standard dummy text ever since the 1500s, when an
      unknown printer took a galley of type and scrambled it to make a type
      specimen book. It has survived not only five centuries, but also the
      leap
    </p>
  </div>

  <div class="menu-try-out">
    <button mat-raised-button>Try It Free</button>
    <button mat-raised-button>Sign Up</button>
  </div>

  <div class="search-bar">
    <input type="text" placeholder="  Search for any product...">
  </div>
</div>

<div class="card">

  <div class="phone-card">
    <h3>Samsung</h3>
    <img src="../assets/samsung.jpg" alt="Samsung">
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </div>

  <div class="phone-card">
    <h3>Iphone</h3>
    <img src="../assets/apple.jpg" alt="Iphone">
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </div>

  <div class="phone-card">
    <h3>Sony</h3>
    <img src="../assets/sony.jpg" alt="Sony">
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </div>

</div>

<div class="footer">
  <p class="footer-text">
    Donate: If you use this
    site regularly and would like to help keep the site on the Internet,
    please consider donating a small sum to help pay for the hosting and
    bandwidth bill.
  </p>
</div>